.sidebar{
    width: 15rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #1c1f25;
    border-right: 1px solid #2a2f36;
}

.ensureTogether{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hospitalBranding{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hospitalBranding .logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2a2f36;
}

.hospitalBranding .hospitalName h4{
    font-size: 0.8em;
    letter-spacing: 0.8px;
    color: #e8ecf2;
}

.hospitalBranding .hospitalName p{
    font-size: 0.7em;
    color: #9aa5b5;
}

.sidebar .utilities{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar .utilities .utilOptions,
.sidebar .sidebarOptions .utilOptions{
    color: #e8ecf2;
    display: none;
}

.sidebar .utilities button{
    height: auto;
    width: calc(100% - 40px);
    background-color: transparent;
    border-radius: 8px;
    border: none;
    color: #e8ecf2;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.sidebar .utilities .backBtn i,
.sidebar .utilities .backBtn span{
    color: #ff5f5f;
}

.sidebar .utilities .activePage{
    background-color: #26303b;
    outline: 1px solid #4da3ff;
    color: #4da3ff;
}

.sidebar .utilities .activePage i,
.sidebar .utilities .activePage span{
    color: #4da3ff;
}

.sidebar .sidebarOptions{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar .sidebarOptions .backBtn{
    display: none;
}

.sidebar .sidebarOptions .settings,
.sidebar .sidebarOptions .logout{
    height: auto;
    width: calc(100% - 40px);
    background-color: transparent;
    border-radius: 8px;
    border: none;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.settings{
    color: #e8ecf2;
}

.sidebar .sidebarOptions .logout i, .sidebar .sidebarOptions .logout span{
    color: #ff5f5f;
}

/* Media queries */

@media (max-width: 870px){
    .sidebar span{
        display: none;
    }

    .sidebar .utilities .utilOptions{
        display: block;
    }

    .sidebar .utilities button{
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }

    .sidebar .sidebarOptions{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .sidebar .sidebarOptions button{
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar .hospitalBranding{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        padding-left: 5px;
        padding-bottom: 30px;
    }

    .sidebar .hospitalBranding .logo{
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        background-color: #2a2f36;
    }

    .sidebar{
        width: auto;
        padding: 0;
    }
}

@media (max-width: 600px){

    .sidebar{
        width: 100dvw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        background-color: #1c1f25;
        border: none;
        border-bottom: 1px solid #2a2f36;
    }

    .ensureTogether{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    .sidebar .utilities{
        display: none;
    }

    .sidebar .utilities .backBtn{
        display: none;
    }

    .sidebar .sidebarOptions{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        gap: 10px;
    }

    .sidebar .sidebarOptions .settings,
    .sidebar .sidebarOptions .logout{
        width: auto;
        height: auto;
        padding: 10px;
    }

    .sidebar .sidebarOptions span{
        display: none;
    }

    .sidebar .sidebarOptions button{
        background-color: transparent;
        border: none;
    } .sidebar .sidebarOptions .utilOptions{
        color: #e8ecf2;
        display: block;
    } .sidebar .sidebarOptions .backBtn{
        display: block;
    } .sidebar .sidebarOptions .backBtn i{
        color: rgb(255, 29, 29);
    }

    .sidebar .hospitalBranding .hospitalName span{
        display: block;
    }
}