.notFoundPage{
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(28, 28, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hahaha{
    padding: 0;
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(28, 28, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.bodyDiv h1{
    padding: 0;
    margin: 0;
    font-size: 1.8em;
}

.bodyDiv h5{
    color: #9dabb9;
    font-size: 0.9em;
}

.bodyDiv{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.hahaha h1, .display h1 i{
    color: rgb(250, 50, 50);
}

.errmsg{
    color: rgb(200, 200, 50);
}