.week{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 48px);
    border-bottom: 1px solid #3b4754bb;
    padding-bottom: 16px;
}

.week div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.week h5, .head label{
    font-size: 0.8em;
    letter-spacing: 0.5px;
    color: #9dabb9;
    margin: 0;
}

.head label{
    cursor: pointer;
}

.week input{
    width: calc(100% - 24px);
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 12px;
    background-color: #283039;
    caret-color: #e2e8f0;
    color: #e2e8f0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: text;
}

.head{
    width: 30%;
}

.tail{
    flex: 1;
}

.head input{
    width: auto;
}

/* Media Queries */

@media (max-width: 520px){
    .week{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
        width: calc(100% - 48px);
        border-bottom: 1px solid #3b4754bb;
        padding-bottom: 16px;
        gap: 8px;
    }

    .week div{
        width: 100%;
    }

    .tail input{
        padding: 8px;
    }
}

@media (max-width: 480px){
    .week{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% - 32px);
        border-bottom: 1px solid #3b4754bb;
        padding-bottom: 16px;
        gap: 8px;
    }
}