.generalScreen{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.generalScreen h1{
    font-size: 1.2em;
    color: #e2e8f0;
    letter-spacing: 0.7px;
}

.opdepTimings, .opHolidayCalendar, .specialServices{
    width: calc(100% - 40px);
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background-color: #1c1f25;
    border: 1px solid #3b4754;
    border-radius: 16px;
}

.opdepTimings h3, .opHolidayCalendar h3, .specialServices h3{
    font-size: 0.95em;
    color: #e2e8f0;
    letter-spacing: 0.6px;
    margin: 12px;
}

.bottomBtns{
    width: calc(100% - 48px);
    padding: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: flex-end;
}

.bottomBtns button{
    width: auto;
    height: auto;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 8px;
    background-color: #137fec;
    color: #e2e8f0;
}