.dropdownBox {
  width: 100px;
  margin: 10px;
  position: relative;     /* required for absolute menu */;
}


.dropdownHeader {
  padding: 12px;
  background-color: #18232f;
  color: rgb(201, 205, 209);
  border: 1px solid #3b4754;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height:15px;
}

.arrow {
  font-size: 14px;
}

.dropdownMenu {
  position: absolute;      /* <-- the key fix */
  top: 100%;               /* position just below header */
  left: 0;

  width: 100%;             /* match dropdown width */

  margin-top: 5px;
  border: 1px solid #3b4754;
  background-color: #1f2d3d;
  border-radius: 6px;
  z-index: 9999;            /* keeps it on top */
}


.dropdownItem {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #2d3a48;
}
