.homePage{
    min-height: 100dvh;
    max-height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    background-color: #121417;
    color: #e8ecf2;
}

.homePage .header{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header .branding{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    align-items: center;
    gap: 16px;
}

.header .branding .logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2a2f36;
}

.header .branding .logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.homePage h3{
    font-size: 0.9em;
    letter-spacing: 0.4px;
}

.header .tools{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.header .tools button{
    background-color: transparent;
    border: none;
    color: #9dabb9;
    cursor: pointer;
    font-size: 0.75em;
}

.homePage .body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.homePage h1{
    font-size: 1.2em;
    margin: 0;
}

.body p{
    font-size: 0.8em;
    color: #9dabb9;
    letter-spacing: 0.5px;
}

.body .roles{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.body .roles div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 15rem;
    background-color: #2a2f36;
    height: auto;
    text-align: center;
    padding: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #3b4754;
    border-radius: 8px;
    cursor: pointer;
}

.body .roles div i{
    color: #137fec;
    font-size: 1.5em;
    font-weight: 600;
}

.body button{
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding: 8px;
    background-color: #137fec;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    font-weight: 200;
    cursor: pointer;
}

.devBranding{
    padding-bottom: 16px;
}

.devBranding p{
    font-size: .7em;
    letter-spacing: 0.8px;
    color: #9dabb9;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}