h4, h3, p {
    margin: 0;
}

.doctorManagementBody{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 100dvh;
    width: 100dvw;
    background-color: #121417;
    color: #e8ecf2;
}

.sidebarAtTop{
    display: none;
}

.sidebar{
    width: 15rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #1c1f25;
    border-right: 1px solid #2a2f36;
}

.ensureTogether{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hospitalBranding{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hospitalBranding .logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #2a2f36;
}

.hospitalBranding .hospitalName h4{
    font-size: 0.8em;
    letter-spacing: 0.8px;
    color: #e8ecf2;
}

.hospitalBranding .hospitalName p{
    font-size: 0.7em;
    color: #9aa5b5;
}

.sidebar .utilities{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar .utilities .utilOptions{
    color: #e8ecf2;
    display: none;
}

.sidebar .utilities button, .sidebarAtTop .utilities button{
    height: auto;
    width: calc(100% - 40px);
    background-color: transparent;
    border-radius: 8px;
    border: none;
    color: #e8ecf2;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.sidebar .utilities .activePage{
    background-color: #26303b;
    outline: 1px solid #4da3ff;
    color: #4da3ff;
}

.sidebar .sidebarOptions{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar .sidebarOptions .settings,
.sidebar .sidebarOptions .logout{
    height: auto;
    width: calc(100% - 40px);
    background-color: transparent;
    border-radius: 8px;
    border: none;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.settings{
    color: #e8ecf2;
}

.logout{
    color: #ff5f5f;
}

.mainDiv{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainDiv .header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2a2f36;
    background-color: #1c1f25;
}

.mainDiv .header .titlebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
}

.mainDiv .header .titlebar h3{
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.mainDiv .header .titlebar .mngmntIcon{
    color: #4da3ff;
}

.searchBarDiv{
    width: auto;
    height: auto;
    background-color: #2a2f36;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    gap: 5px;
}

.searchBarDiv input{
    min-width: 250px;
    max-width: 350px;
    height: 20px;
    border-radius: 8px;
    font-size: 0.75em;
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    caret-color: #e8ecf2;
    color: #e8ecf2;
    letter-spacing: 1px;
}

.mainDiv .header .options{
    height: auto;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainDiv .header .options button{
    height: 33px;
    width: 33px;
    font-size: 0.75em;
    color: #9aa5b5;
    background-color: #2a2f36;
    border: none;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.mainDiv .header .options .notificationIcon:hover{
    color: #4da3ff;
}

.mainDiv .header .options .aboutIcon:hover{
    color: #4da3ff;
}

.mainDiv .managementBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.mainDiv .managementBody .topMost{
    width: calc(100% - 80px);
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 40px;
    left: 40px;
}

.mainDiv .managementBody .topMost button{
    padding: 8px;
    background-color: #137fec;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    font-weight: 200;
    cursor: pointer;
}

.mainDiv .managementBody .topMost .fallbackAddDocBtn{
    display: none;
}

.mainDiv .managementBody .existingDocs{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid #3b4754;
    border-bottom: none;
    border-radius: 8px;
    padding-top: 10px;
}

.mainDiv .managementBody .existingDocs .headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    width: calc(100% - 40px);
    position: relative;
    left: 20px;
    height: auto;
    border-bottom: 1px solid #3b4754;
    color: #9aa5b5;
}

.mainDiv .managementBody .existingDocs .headers .docName{
    font-size: 0.8em;
    letter-spacing: 0.5px;
    flex: 1;
    padding-left: 8rem;
    position: relative;
    left: -10px;
}

.mainDiv .managementBody .existingDocs .headers .actions{
    font-size: 0.8em;
    letter-spacing: 0.5px;
    width: 18rem;
    text-align: center;
}

.mainDiv .managementBody .docDiv{
    height: auto;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 20px;
    border: 1px solid #3b47548e;
    border-radius: 8px;
    background-color: #1e2228;
}

.mainDiv .managementBody .docDiv .docPfp{
    height: 50px;
    width: 50px;
    position: relative;
    left: 20px;
    background-color: #2a2f36;
    border-radius: 50%;
}

.mainDiv .managementBody .docDiv p{
    flex: 1;
    word-wrap: break-word;
    padding-left: calc(8rem - 60px);
    font-size: 0.8em;
    letter-spacing: 0.6px;
    font-weight: 250;
    color: #e8ecf2;
}

.mainDiv .managementBody .docDiv .actionBtns{
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.mainDiv .managementBody .docDiv .actionBtns button{
    background-color: transparent;
    border: none;
    color: #4da3ff;
    font-size: 0.85em;
    cursor: pointer;
}

/* Media Queries */

@media (min-width: 1000px){
    .noSearchBarDiv{
        display: none;
    }

    .mainDiv .managementBody .topMost{
        width: calc(100% - 60px);
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        right: 30px;
        left: 30px;
    }
}

@media (max-width: 999px){
    .mainDiv .header .titlebar .searchBarDiv{
        display: none;
    }
}

@media (max-width: 870px){
    .sidebar span{
        display: none;
    }

    .sidebar .utilities .utilOptions{
        display: block;
    }

    .sidebar .utilities button{
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }

    .sidebar .sidebarOptions{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .sidebar .sidebarOptions button{
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar .hospitalBranding{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        padding-left: 5px;
        padding-bottom: 30px;
    }

    .sidebar .hospitalBranding .logo{
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        background-color: #2a2f36;
    }

    .sidebar{
        width: auto;
        padding: 0;
    }
}

@media (max-width: 600px){

    .sidebarAtTop{
        width: 100dvw;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        background-color: #1c1f25;
        border-bottom: 1px solid #2a2f36;
    }

    .ensureTogether{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .sidebarAtTop .utilities button{
        display: none;
    }

    .sidebarAtTop .utilities{
        height: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebarAtTop .sidebarOptions{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .sidebarAtTop .sidebarOptions span{
        display: none;
    }

    .sidebarAtTop .sidebarOptions button{
        background-color: transparent;
        border: none;
    } .sidebarAtTop .sidebarOptions .utilOptions{
        color: #e8ecf2;
    }

    .doctorManagementBody{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100dvh;
        width: 100dvw;
        background-color: #121417;
        color: #e8ecf2;
    }

    .sidebar{
        display: none;
    }
}

@media (max-width: 550px){
    .searchBarDiv{
        width: auto;
        height: auto;
        background-color: #2a2f36;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        gap: 5px;
    }

    .searchBarDiv input{
        min-width: 230px;
        max-width: 350px;
        height: 20px;
        border-radius: 8px;
        font-size: 0.75em;
        border: none;
        outline: none;
        padding: 5px;
        background-color: transparent;
        caret-color: #e8ecf2;
        color: #e8ecf2;
        letter-spacing: 1px;
    }
}

@media (max-width: 500px){
    .topMost .addDocBtn{
        display: none;
    }

    .mainDiv .managementBody .topMost .fallbackAddDocBtn{
        display: block;
    }
}

@media (max-width: 430px){
    .searchBarDiv input{
        min-width: 150px;
        max-width: 350px;
        height: 20px;
        border-radius: 8px;
        font-size: 0.75em;
        border: none;
        outline: none;
        padding: 5px;
        background-color: transparent;
        caret-color: #e8ecf2;
        color: #e8ecf2;
        letter-spacing: 1px;
    }

    .mainDiv .managementBody .existingDocs .headers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 10px;
        width: calc(100% - 20px);
        position: relative;
        left: 10px;
        height: auto;
        border-bottom: 1px solid #3b4754;
        color: #9aa5b5;
    }

    .mainDiv .managementBody .existingDocs .headers .docName{
        text-align: center;
        font-size: 0.8em;
        padding-left: 0px;
        letter-spacing: 0.5px;
        flex: 1;
    }

    .mainDiv .managementBody .existingDocs .headers .actions{
        font-size: 0.8em;
        letter-spacing: 0.5px;
        width: 50%;
        text-align: center;
    }

    .mainDiv .managementBody .docDiv{
        height: auto;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        left: 10px;
        border: 1px solid #3b47548e;
        border-radius: 8px;
        background-color: #1e2228;
    }

    .mainDiv .managementBody .docDiv .docPfp{
        display: none;
    }

    .mainDiv .managementBody .docDiv p{
        text-align: center;
        font-size: 0.8em;
        padding-left: 0px;
        letter-spacing: 0.5px;
        flex: 1;
    }

    .mainDiv .managementBody .docDiv .actionBtns{
        font-size: 0.8em;
        letter-spacing: 0.5px;
        width: 50%;
        text-align: center;
    }
}