h4, h3, p {
    margin: 0;
}

.doctorManagementBody{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bg);
    color: var(--text-primary);
}

.mainDiv{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mainDiv .header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-light);
    background-color: var(--bg-light);
}

.mainDiv .header .titlebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
}

.mainDiv .header .titlebar h3{
    font-size: 0.9em;
    letter-spacing: 0.5px;
}

.mainDiv .header .titlebar .mngmntIcon{
    color: var(--accent);
}

.searchBarDiv{
    width: auto;
    height: auto;
    background-color: var(--card-bg);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    gap: 5px;
}

.searchBarDiv input{
    min-width: 250px;
    max-width: 350px;
    height: 20px;
    border-radius: 8px;
    font-size: 0.75em;
    border: none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    caret-color: var(--text-primary);
    color: var(--text-primary);
    letter-spacing: 1px;
}

.mainDiv .header .options{
    height: auto;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainDiv .header .options button{
    height: 33px;
    width: 33px;
    font-size: 0.75em;
    color: var(--text-secondary);
    background-color: var(--card-bg);
    border: none;
    border-radius: 8px;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.mainDiv .header .options .notificationIcon:hover,
.mainDiv .header .options .aboutIcon:hover{
    color: var(--accent);
}

.mainDiv .managementBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.mainDiv .managementBody .topMost{
    width: calc(100% - 80px);
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 40px;
    left: 40px;
}

.mainDiv .managementBody .topMost button{
    padding: 8px;
    background-color: var(--primary);
    color: var(--button-text);
    border-radius: 8px;
    border: none;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    font-weight: 200;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.mainDiv .managementBody .topMost .fallbackAddDocBtn{
    display: none;
}

.mainDiv .managementBody .existingDocs{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid var(--border-light);
    border-bottom: none;
    border-radius: 16px;
    padding-top: 10px;
}

.mainDiv .managementBody .existingDocs .headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    width: calc(100% - 40px);
    position: relative;
    left: 20px;
    height: auto;
    border-bottom: 1px solid var(--border-light);
    color: var(--text-secondary);
}

.mainDiv .managementBody .existingDocs .headers .docName{
    font-size: 0.8em;
    letter-spacing: 0.5px;
    flex: 1;
    padding-left: 8rem;
    position: relative;
    left: -10px;
}

.mainDiv .managementBody .existingDocs .headers .actions{
    font-size: 0.8em;
    letter-spacing: 0.5px;
    width: 18rem;
    text-align: center;
}

.mainDiv .managementBody .docDiv{
    height: auto;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 20px;
    border: 1px solid var(--border-light);
    border-radius: 8px;
    background-color: var(--bg-lighter);
}

.mainDiv .managementBody .docDiv .docPfp{
    height: 50px;
    width: 50px;
    position: relative;
    left: 20px;
    background-color: var(--card-bg);
    border-radius: 50%;
}

.mainDiv .managementBody .docDiv .docPfp img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.mainDiv .managementBody .docDiv p{
    flex: 1;
    word-wrap: break-word;
    padding-left: calc(8rem - 60px);
    font-size: 0.75em;
    letter-spacing: 0.65px;
    font-weight: 250;
    color: var(--text-primary);
}

.mainDiv .managementBody .docDiv .actionBtns{
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.mainDiv .managementBody .docDiv .actionBtns button{
    background-color: transparent;
    border: none;
    color: var(--accent);
    font-size: 1.1em;
    cursor: pointer;
}

.mainDiv .managementBody .docDiv .actionBtns button i{
    color: var(--accent);
    font-size: 0.9em;
}

/* Media Queries */

@media (min-width: 1000px){
    .noSearchBarDiv{
        display: none;
    }

    .mainDiv .managementBody .topMost{
        width: calc(100% - 60px);
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        right: 30px;
        left: 30px;
    }
}

@media (max-width: 999px){
    .mainDiv .header .titlebar .searchBarDiv{
        display: none;
    }
}

@media (max-width: 600px){

    .doctorManagementBody{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100dvh;
        width: 100dvw;
        background-color: var(--bg);
        color: var(--text-primary);
    }
}

@media (max-width: 550px){
    .searchBarDiv{
        width: auto;
        height: auto;
        background-color: var(--card-bg);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        gap: 5px;
    }

    .searchBarDiv input{
        min-width: 230px;
        max-width: 350px;
        height: 20px;
        border-radius: 8px;
        font-size: 0.75em;
        border: none;
        outline: none;
        padding: 5px;
        background-color: transparent;
        caret-color: var(--text-primary);
        color: var(--text-primary);
        letter-spacing: 1px;
    }
}

@media (max-width: 500px){
    .topMost .addDocBtn{
        display: none;
    }

    .mainDiv .managementBody .topMost .fallbackAddDocBtn{
        display: block;
    }
}

@media (max-width: 430px){
    .searchBarDiv input{
        min-width: 150px;
        max-width: 350px;
        height: 20px;
        border-radius: 8px;
        font-size: 0.75em;
        border: none;
        outline: none;
        padding: 5px;
        background-color: transparent;
        caret-color: var(--text-primary);
        color: var(--text-primary);
        letter-spacing: 1px;
    }

    .mainDiv .managementBody .existingDocs .headers{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        padding-bottom: 10px;
        width: calc(100% - 20px);
        position: relative;
        left: 10px;
        height: auto;
        border-bottom: 1px solid var(--border-light);
        color: var(--text-secondary);
    }

    .mainDiv .managementBody .existingDocs .headers .docName{
        text-align: center;
        font-size: 0.8em;
        padding-left: 0px;
        letter-spacing: 0.5px;
        flex: 1;
    }

    .mainDiv .managementBody .existingDocs .headers .actions{
        font-size: 0.8em;
        letter-spacing: 0.5px;
        width: 50%;
        text-align: center;
    }

    .mainDiv .managementBody .docDiv{
        height: auto;
        width: calc(100% - 20px);
        display: flex;
        align-items: center;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
        left: 10px;
        border: 1px solid var(--border-light);
        border-radius: 8px;
        background-color: var(--bg-lighter);
    }

    .mainDiv .managementBody .docDiv .docPfp{
        display: none;
    }

    .mainDiv .managementBody .docDiv p{
        text-align: center;
        font-size: 0.8em;
        padding-left: 0px;
        letter-spacing: 0.5px;
        flex: 1;
    }

    .mainDiv .managementBody .docDiv .actionBtns{
        font-size: 0.8em;
        letter-spacing: 0.5px;
        width: 50%;
        text-align: center;
    }
}