.appointmentManagmentBody{
    height: 100dvh;
    width: 100dvw;
    background-color: #101922;
    display: flex;
}
.nameContainer {
    height: 10%;
    width: 95%;
    background-color:#18232f;
    left: 240px;
    border-bottom: 1px solid #3b4754;
    display: flex;
}
.appointmentManagmentBodyContent{
    height:100dvh;
    width: calc(100% - 240px);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inputContainer{
    height: 22%;
    width: 95%;
    background-color: #3b4754;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.data{
    height: 62%;
    width: 95%;
    background-color: #3b4754;
}
.name{
    height:100%;
    width: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
}
.buttonContainer{
    height:100%;
    width: 50%;
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: flex-end; /* move to right */
    align-items: center;
}
.nameText{
    font-weight: bold;
    color: white;
    font-size: 2.4rem;
    bottom: 0;
}
.addNewAppointment{
    height:70%;
    width:40%;
    background-color: #137fec;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 1.05rem;
}
.inputBox{
    height:40%;
    width:100%;
    background-color: rebeccapurple;
}
.scrollDowns{
    height:40%;
    width:100%;
    background-color: red;
}