.sidebar{
    width: 15rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: var(--bg-light);
    border-right: 1px solid var(--card-bg);
}

.sidebar .blurDiv{
    display: none;
}

.ensureTogether{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hospitalBranding{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hospitalBranding .logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--card-bg);
}

.hospitalBranding .logo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.hospitalBranding .hospitalName h4{
    font-size: 0.8em;
    letter-spacing: 0.8px;
    color: var(--text-primary);
}

.hospitalBranding .hospitalName p{
    font-size: 0.7em;
    color: var(--text-secondary);
}

.sidebar .utilities{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar .utilities .utilOptions,
.sidebar .sidebarOptions .utilOptions{
    color: var(--text-primary);
    display: none;
}

.sidebar .collapseOpen{
    display: none;
} .sidebar .collapseOpen i{
    color: #ff5f5f;
}

.sidebar .utilities button{
    height: auto;
    width: calc(100% - 40px);
    background-color: transparent;
    border-radius: 8px;
    border: none;
    color: var(--text-primary);
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.sidebar .utilities .activePage{
    background-color: var(--bg-lighter);
    outline: 1px solid var(--accent);
    color: var(--accent);
}

.sidebar .utilities .activePage i,
.sidebar .utilities .activePage span{
    color: var(--accent);
}

.sidebar .sidebarOptions{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.sidebar .sidebarOptions .settings,
.sidebar .sidebarOptions .logout{
    height: auto;
    width: calc(100% - 40px);
    background-color: transparent;
    border-radius: 8px;
    border: none;
    text-align: left;
    font-size: 0.75em;
    letter-spacing: 0.75px;
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
}

.settings{
    color: var(--text-primary);
}

.sidebar .sidebarOptions .logout i, .sidebar .sidebarOptions .logout span{
    color: #ff5f5f;
}

/* Media queries */

@media (max-width: 870px){
    .sidebar span{
        display: none;
    }

    .sidebar .utilities .utilOptions{
        display: block;
    }

    .sidebar .utilities button{
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }

    .sidebar .sidebarOptions{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 10px;
    }

    .sidebar .sidebarOptions button{
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar .hospitalBranding{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        padding-left: 5px;
        padding-bottom: 30px;
    }

    .sidebar .hospitalBranding .logo{
        height: 40px;
        width: 40px;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        background-color: var(--card-bg);
    }

    .sidebar{
        width: auto;
        padding: 0;
    }
}

@media (max-width: 600px){

    .sidebar{
        width: 100dvw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        background-color: var(--bg-light);
        border: none;
        border-bottom: 1px solid var(--card-bg);
    }

    .ensureTogether{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    .sidebar .utilities{
        display: none;
    }

    .sidebar .sidebarOptions{
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px;
        gap: 10px;
    }

    .sidebar .sidebarOptions .settings,
    .sidebar .sidebarOptions .logout{
        width: auto;
        height: auto;
        padding: 10px;
    }

    .sidebar .sidebarOptions span{
        display: none;
    }

    .sidebar .sidebarOptions button{
        background-color: transparent;
        border: none;
    } .sidebar .sidebarOptions .utilOptions{
        color: var(--text-primary);
        display: block;
    }

    .sidebar .hospitalBranding .hospitalName span{
        display: block;
    }
}

/* Clicking hamburger triggers these: */
.sidebar.open {
    width: 15rem !important;
    height: 100dvh !important;
    flex-direction: column !important;
    border-right: 1px solid var(--card-bg) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 999 !important;
}

.open.blurDiv{
    display: block;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar.open .ensureTogether{
    height: auto !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 10px !important;
}

.sidebar.open .hospitalBranding{
    height: auto !important;
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 10px !important;
    margin: 0 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.sidebar.open .hospitalBranding .logo{
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    background-color: var(--card-bg) !important;
}

.sidebar.open .utilities{
    height: auto !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    gap: 10px !important;
}

.open.collapseOpen{
    display: block;
}

.sidebar.open .utilities .utilOptions, 
.sidebar.open .sidebarOptions .utilOptions{
    color: var(--text-primary) !important;
    display: none !important;
}

.sidebar.open .utilities button{
    height: auto !important;
    width: calc(100% - 40px) !important;
    background-color: transparent !important;
    border-radius: 8px !important;
    border: none !important;
    color: var(--text-primary) !important;
    text-align: left !important;
    font-size: 0.75em !important;
    letter-spacing: 0.75px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    cursor: pointer !important;
}

.sidebar.open .utilities .activePage{
    background-color: var(--bg-lighter) !important;
    outline: 1px solid #4da3ff !important;
    color: #4da3ff !important;
}

.sidebar.open .sidebarOptions{
    height: auto !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-evenly !important;
    gap: 10px !important;
}

.sidebar.open .sidebarOptions button {
    width: calc(100% - 40px) !important;
    justify-content: flex-start !important;
    text-align: left !important;
    border-radius: 8px !important;
    padding-left: 20px !important;
}

.sidebar.open .sidebarOptions .settings,
.sidebar.open .sidebarOptions .logout{
    height: auto !important;
    width: calc(100% - 40px) !important;
    background-color: transparent !important;
    border-radius: 8px !important;
    border: none !important;
    text-align: left !important;
    font-size: 0.75em !important;
    letter-spacing: 0.75px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    cursor: pointer !important;
}

.settings{
    color: var(--text-primary) !important;
}

.sidebar.open .sidebarOptions .logout i, .sidebar.open .sidebarOptions .logout span{
    color: #ff5f5f !important;
}

/* Show utilities back */
.sidebar.open .utilities {
    display: flex !important;
}

/* Show text labels again */
.sidebar.open span {
    display: inline !important;
}

/* Restore original layout */
.sidebar.open .sidebarOptions {
    flex-direction: column !important;
    width: 100% !important;
}